<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>
<div class="container">
    <h1 class="text-center">List of Employees</h1>

    <button class="button"><a class="text-dark" th:href="@{/employee/add-form}">Add New Employee</a></button>

    <nav aria-label="Search results pages" class="d-md-flex flex-wrap justify-content-center">
        <ul class="pagination"
            th:if="${result.totalPages > 1}">

            <li class="page-item"
                th:classappend="${result.first} ? disabled : ''">
                <span class="page-link" th:if="${result.first}">← First</span>
                <a class="page-link"
                   th:if="!${result.first}"
                   th:href="@{/employee(size=${result.size}, page=1, sort=${sorting?.property} + '&#44;' + ${sorting?.direction})}">← First</a>
            </li>

            <li class="page-item"
                th:classappend="${result.first} ? disabled : ''">
                <span class="page-link" th:if="${result.first}">«</span>
                <a class="page-link"
                   th:if="!${result.first}"
                   th:href="@{/employee(size=${result.size}, page=${result.number}, sort=${sorting?.property} + '&#44;' + ${sorting?.direction})}">«</a>
            </li>

            <li class="page-item"
                th:each="number: ${#numbers.sequence(rangeFrom,rangeTo)}"
                th:classappend="${number == result.number + 1} ? active : ''">
                <span class="page-link"
                      th:if="${number == result.number + 1}"
                      th:text="${number}"></span>
                <a class="page-link"
                   th:if="!${number == result.number + 1}"
                   th:href="@{/employee(size=${result.size}, page=${number}, sort=${sorting?.property} + '&#44;' + ${sorting?.direction})}"
                   th:text="${number}"></a>
            </li>

            <li class="page-item"
                th:classappend="${result.last} ? disabled : ''">
                <span class="page-link" th:if="${result.last}">»</span>
                <a class="page-link"
                   th:if="!${result.last}"
                   th:href="@{/employee(size=${result.size}, page=${result.number + 2}, sort=${sorting?.property} + '&#44;' + ${sorting?.direction})}">»</a>
            </li>

            <li class="page-item"
                th:classappend="${result.last} ? disabled : ''">
                <span class="page-link" th:if="${result.last}">Last →</span>
                <a class="page-link"
                   th:if="!${result.last}"
                   th:href="@{/employee(size=${result.size}, page=${result.totalPages}, sort=${sorting?.property} + '&#44;' + ${sorting?.direction})}">Last →</a>
            </li>
        </ul>
        <form id="pageSizeForm" th:action="@{/employee}" th:with="options=${ {10,25,50,75,100} }">
            <select id="pageSize" name="size" onchange="pageSizeChange()">
                <option th:each="i : ${options}" th:value="${i}" th:text="${i}"
                        th:selected="${i==result.size}" ></option>
            </select>
        </form>
    </nav>

    <table class="table" id="employee-Table">
        <thead>
        <tr>
            <th>
                <a th:href="@{/employee(size=${result.size}, page=${result.number + 1}, sort=(${result?.sort?.getOrderFor('empNo')?.ascending} ? 'empNo,desc' : 'empNo,asc'))}"
                   th:switch="${result?.sort?.getOrderFor('empNo')?.ascending}"
                   class="text-dark">
                    <span th:case="${false}">Emp No &#9650;</span>
                    <span th:case="${true}">Emp No &#9660;</span>
                    <span th:case="*">Emp No</span>
                </a>
            </th>
            <th>
                <a th:href="@{/employee(size=${result.size}, page=${result.number + 1}, sort=(${result?.sort?.getOrderFor('firstName')?.ascending} ? 'firstName,desc' : 'firstName,asc'))}"
                   th:switch="${result?.sort?.getOrderFor('firstName')?.ascending}"
                   class="text-dark">
                    <span th:case="${false}">First Name &#9650;</span>
                    <span th:case="${true}">First Name &#9660;</span>
                    <span th:case="*">First Name</span>
                </a>
            </th>
            <th>
                <a th:href="@{/employee(size=${result.size}, page=${result.number + 1}, sort=(${result?.sort?.getOrderFor('lastName')?.ascending} ? 'lastName,desc' : 'lastName,asc'))}"
                   th:switch="${result?.sort?.getOrderFor('lastName')?.ascending}"
                   class="text-dark">
                    <span th:case="${false}">Last Name &#9650;</span>
                    <span th:case="${true}">Last Name &#9660;</span>
                    <span th:case="*">Last Name</span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${result.content}">
            <td><a th:href="@{'/employee/' + ${employee.empNo}}" th:text="${employee.empNo}"></a></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td><a th:href="@{'/employee/' + ${employee.empNo} + '/edit/'}">Edit</a></td>
            <td><a th:href="@{'/employee/' + ${employee.empNo} + '/delete/'}">Delete</a></td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>