<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Edit Employee</h1>

    <form action="#" th:action="@{/employee/{id}/update (id=${employee.empNo})}" th:object="${employee}" method="POST">
        <div class="form-group row">
            <label for="empNo" class="col-sm-2 col-form-label">Emp No</label>
            <div class="col-sm-10">
                <input type="number" readonly class="form-control-plaintext" th:field="*{empNo}" id="empNo"
                       th:value="*{empNo}">
            </div>
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">First name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                       th:value="*{firstName}">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                       th:value="*{lastName}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Gender</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                       th:field="*{gender}" id="male" value="M">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                       th:field="*{gender}" id="female" value="F">
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="birthDate" class="col-sm-2 col-form-label">Birth date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{birthDate}" id="birthDate">
            </div>
        </div>
        <div class="form-group row">
            <label for="hireDate" class="col-sm-2 col-form-label">Hire date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{hireDate}" id="hireDate">
            </div>
        </div>

        <table class="table" th:if="!${#lists.isEmpty(employee.titles)}">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Date from:</th>
                <th>Date to:</th>
                <th>
                    <button type="submit" name="addTitle">Add Title</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t, itemStat : *{titles}">
                <td th:text="${itemStat.count}">1</td>
                <td>
                    <input type="text" class="form-control" id="title" th:field="*{titles[__${itemStat.index}__].title}">
                </td>
                <td>
                    <input type="date" class="form-control" id="fromDate" th:field="*{titles[__${itemStat.index}__].fromDate}">
                </td>
                <td>
                    <input type="date" class="form-control" id="toDate" th:field="*{titles[__${itemStat.index}__].toDate}">
                </td>
                <td>
                    <button type="submit" name="removeTitle" th:value="${itemStat.index}">Remove Title</button>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary mb-2" value="Save changes">
        <input type="button" class="btn btn-primary mb-2" value="Back" onclick="history.back()">
    </form>

</div>
</body>
</html>
